@charset "UTF-8";
:root {
  --primary: #0F3249;
  --secondary: #097AC0;
  --accent: #0E6FE8;
  --bg: linear-gradient(101.77deg, #097AC0 0%, #6509C0 100%);
  --card_img_h: 23rem;
  --card_img_h_one: 10rem;
  --title-size: 64px;
}

.btn-primary {
  background: var(--accent) !important;
}
.btn-primary:hover {
  background: var(--primary) !important;
}

:root {
  --text-body: 18px;
  --text-mega-title: 76px;
  --text-title: 58px;
  --text-subtitle: 36px;
  --text-h1: 48px;
  --text-h2: 30px;
  --text-h3: 26px;
  --text-h4: 18px;
  --text-small: 16px;
  --text-font-title: "Cormorant Garamond", serif;
  --text-font-body: "Open Sans", sans-serif;
}

@media only screen and (max-width: 992px) {
  :root {
    --text-mega-title: 4rem;
    --text-subtitle: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --text-mega-title: 3rem;
    --text-subtitle: 1.8rem;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --text-mega-title: 2rem;
  }
}
.cpc_slider_front_page_hero {
  width: 100%;
  height: 100vh !important;
}
.cpc_slider_front_page_hero .swiper-pagination {
  bottom: 100px;
}

.cpc_slider_item {
  width: 100%;
  height: 100%;
}

.cpc_hero {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: -1.6rem;
}
.cpc_hero .img {
  position: relative;
  width: 100%;
  height: 100%;
}
.cpc_hero .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cpc_hero .img .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  background: var(--bg);
}
.cpc_hero .text {
  width: 100%;
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  text-align: center;
}
.cpc_hero .text .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  width: 90%;
  margin: auto;
  position: relative;
}
.cpc_hero .text .content .cpc_title {
  font-size: var(--text-mega-title);
}
.cpc_hero .text .content .cpc_btn {
  margin-top: 1.6rem;
}
.cpc_hero .text .content .side_down {
  position: absolute;
  bottom: -50%;
  left: 0;
}

.cpc_welcome {
  gap: 8rem;
}
.cpc_welcome .cpc_subtitle {
  color: var(--accent);
}
.cpc_welcome .cpc_title {
  color: var(--secondary);
}
.cpc_welcome .desc {
  width: 430px;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cpc_welcome a {
  margin-top: 1rem;
  padding: 0.6rem 2rem;
}
.cpc_welcome .cpc_presentation {
  position: relative;
  max-width: 100%;
  width: 34rem;
  height: 20rem;
  margin: auto;
}
.cpc_welcome .cpc_presentation .square_back {
  position: relative;
  width: 100%;
  height: 100%;
}
.cpc_welcome .cpc_presentation .square_back:before, .cpc_welcome .cpc_presentation .square_back:after {
  content: "";
  display: block;
  width: 20rem;
  height: 16rem;
  background: var(--bg);
  border-radius: 10px;
  position: absolute;
}
.cpc_welcome .cpc_presentation .square_back:before {
  top: -1rem;
  left: -1rem;
}
.cpc_welcome .cpc_presentation .square_back:after {
  bottom: -1rem;
  right: -1rem;
}
.cpc_welcome .cpc_presentation img, .cpc_welcome .cpc_presentation iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.cpc_cursos_list .cpc_title {
  line-height: 76%;
  color: var(--secondary);
}
.cpc_cursos_list .cpc_title.sm {
  color: var(--accent);
}
.cpc_cursos_list .text {
  font-weight: 300;
  line-height: 100%;
  width: 400px;
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cri-slider {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.cri-slider .wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 90vh;
}
.cri-slider .wrapper .slides {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -100vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.cri-slider .wrapper .slides.shifting {
  -webkit-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
}
.cri-slider .wrapper .slide {
  width: 100vw;
  height: 90vh;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  background: #333;
  border-radius: 2px;
}
.cri-slider .wrapper .slide h1 {
  color: var(--primary) !important;
}
.cri-slider .wrapper .slide div.background.frame-four {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
}
.cri-slider .wrapper .slide div.background.frame-four > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.cri-slider .wrapper .slide div.background.frame-four > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.cri-slider .wrapper .slide div.background.frame-four > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.cri-slider .wrapper .slide div.background.frame-four > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.cri-slider .wrapper .slide div.background.frame-four div.container {
  position: relative;
}
.cri-slider .wrapper .slide div.background.frame-four div.container h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4vw;
  color: white;
}
.cri-slider .wrapper .slide div.background {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.cri-slider .wrapper .slide div.background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}
.cri-slider .wrapper .slide div.background div.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000090;
}
.cri-slider .wrapper .slide div.contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
}
.cri-slider .wrapper .slide div.contain div.padding {
  margin-bottom: 3rem;
  height: 90%;
}
.cri-slider .wrapper .slide div.contain div.padding h1 {
  font-weight: bold;
  font-size: 6vw;
  text-align: center;
  color: #FFFFFF;
}
.cri-slider .wrapper .slide div.contain div.padding p {
  font-size: 1.7vw;
}
.cri-slider .wrapper .slide div.contain div.padding .cri-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0.5rem 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.cri-slider .wrapper .slide .contain.style-logo div.padding {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60% 40%;
  grid-template-rows: 60% 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cri-slider .wrapper .slide .contain.style-logo div.padding picture, .cri-slider .wrapper .slide .contain.style-logo div.padding img {
  width: 40vw;
  height: 20vw;
  margin: auto;
}
.cri-slider .wrapper .slide .contain.style-left div.padding {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.cri-slider .wrapper .slide .contain.style-left div.padding h1 {
  text-align: left;
  width: 70%;
  font-size: 7vw;
}
.cri-slider .wrapper .slide .contain.style-left div.padding .cri-btn {
  margin: 0;
  padding: 0.6rem 1rem;
  margin-top: 1.5rem;
  margin-bottom: 10%;
}
.cri-slider .wrapper .slide .contain.style-center div.padding {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.cri-slider .wrapper .slide .contain.style-center div.padding img {
  width: 15vw;
  height: 7vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.cri-slider .wrapper .slide .contain.style-center div.padding h1 {
  font-size: 11vw;
}
.cri-slider .wrapper .slide .contain.style-center div.padding h2 {
  font-size: 4vw;
}
.cri-slider .wrapper .slide .contain.style-center div.padding p {
  font-size: 1.7vw;
}
.cri-slider .wrapper .slide .contain.style-center-2 div.padding {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.cri-slider .wrapper .slide .contain.style-center-2 div.padding img {
  width: 30vw;
  height: 20vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.cri-slider .wrapper .slide .contain.style-center-2 div.padding h1 {
  width: 70%;
}
.cri-slider .wrapper .slide .contain.style-center-2 div.padding .cri-btn {
  padding: 0.5rem 3rem;
  margin: 0;
  margin-top: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.cri-slider .wrapper .slide .contain.style-center-text div.padding {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 50% 5% 40%;
  grid-template-rows: 50% 40%;
  gap: 5%;
}
.cri-slider .wrapper .slide .contain.style-center-text div.padding > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.cri-slider .wrapper .slide .contain.style-center-text div.padding > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.cri-slider .wrapper .slide .contain.style-center-text div.padding h1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.cri-slider .wrapper .slide .contain.slider_presentation div.padding {
  width: 100%;
  height: 100%;
  padding-top: 9vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 9% 3% 45% 3% 9% 3% 9%;
  grid-template-rows: 9% 45% 9% 9%;
  gap: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cri-slider .wrapper .slide .contain.slider_presentation div.padding > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.cri-slider .wrapper .slide .contain.slider_presentation div.padding > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.cri-slider .wrapper .slide .contain.slider_presentation div.padding > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.cri-slider .wrapper .slide .contain.slider_presentation div.padding > *:nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.cri-slider .wrapper .slide .contain.slider_presentation div.padding ul {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #D1D1D1;
  font-size: 1.8vw;
  list-style: none;
}
.cri-slider .wrapper .slide .contain.slider_presentation div.padding ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.5rem 1rem;
}
.cri-slider .wrapper .slide .contain.slider_presentation div.padding ul li:before {
  content: "·";
  font-size: 120px;
  vertical-align: top;
  line-height: 20px;
  color: var(--primary);
}
.cri-slider .wrapper .slide.promocion {
  background: #2F414F;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cri-slider .wrapper .slide.promocion div.background {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.cri-slider .wrapper .slide.promocion div.background img {
  width: 50vw;
}
.cri-slider .wrapper .slide.promocion div.background div.filter {
  width: 50vw;
  left: auto;
  right: 0;
  opacity: 0.3;
}
.cri-slider .wrapper .slide.promocion div.contain {
  position: relative;
  width: 50%;
}
.cri-slider .wrapper .slide.promocion div.contain div.padding {
  margin-bottom: 3rem;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cri-slider .wrapper .slide.promocion div.contain div.padding h1 {
  color: var(--primary);
  font-size: 6vw;
  margin-bottom: 1rem;
}
.cri-slider .wrapper .slide.promocion div.contain div.padding p {
  font-size: 2.3vw;
  width: 80%;
  text-align: center;
}
.cri-slider .wrapper .slide.promocion div.contain div.padding p.number {
  font-size: 5vw;
  font-weight: bold;
  color: var(--primary);
}
.cri-slider .wrapper .slide.promocion div.contain div.padding .cri-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0.5rem 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.cri-slider .control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.cri-slider .prev,
.cri-slider .next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.cri-slider .prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: 0px;
}
.cri-slider .next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: 0px;
}
.cri-slider .prev:active,
.cri-slider .next:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media screen and (max-width: 992px) {
  .cpc_hero .text .content .side_down {
    position: relative;
    bottom: auto;
    left: auto;
  }
}
@media (max-width: 700px) {
  .cri-slider .wrapper .slide .contain.style-left div.padding {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cri-slider .wrapper .slide .contain.style-left div.padding h1 {
    text-align: center;
    width: 90%;
    font-size: 14vw;
  }
  .cri-slider .wrapper .slide .contain.style-left div.padding p {
    font-size: 7vw !important;
  }
  .cri-slider .wrapper .slide .contain.slider_presentation div.padding ul {
    font-size: 3vw;
  }
  .cri-slider .wrapper .slide h1 {
    font-size: 12vw !important;
  }
  .cri-slider .wrapper .slide h2 {
    font-size: 6vw !important;
  }
  .cri-slider .wrapper .slide p {
    width: 90% !important;
    font-size: 4vw !important;
    margin-top: 1rem;
  }
  .cri-slider .wrapper .slide.promocion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 70% 30%;
    grid-template-rows: 70% 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
  }
  .cri-slider .wrapper .slide.promocion > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .cri-slider .wrapper .slide.promocion > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .cri-slider .wrapper .slide.promocion div.background {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .cri-slider .wrapper .slide.promocion div.background img {
    width: 100%;
    height: 100%;
  }
  .cri-slider .wrapper .slide.promocion div.background div.filter {
    width: 100%;
    height: 100%;
  }
  .cri-slider .wrapper .slide.promocion div.contain {
    width: 90%;
  }
  .cri-slider .wrapper .slide.promocion div.contain div.padding {
    width: 100%;
  }
  .cri-slider .wrapper .slide.promocion div.contain div.padding h1 {
    font-size: 9vw;
  }
  .cri-slider .wrapper .slide.promocion div.contain div.padding p {
    width: 90%;
    font-size: 3vw;
  }
  .cri-slider .wrapper .slide.promocion div.contain div.padding p.number {
    font-size: 9vw !important;
  }
}