
.cpc_features{
    margin: 3.6rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;

    .cpc_features_item{
        padding: 2.2rem 2.5rem;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.8rem;

        i{
            font-size: 3rem;
        }

        .text{
            color: $primary;

            .title{
                font-weight: bold;
                font-size: 30px;
            }

            .sub{
                font-size: 20px;
            }
        }
    }
}
