
.cpc_box_desc{

    margin-bottom: 4rem;

    .cpc_head{
        font-size: $txt-subtitle;
        font-weight: bold;
        color: $secondary;

        .small{
            font-size: $txt-small;
        }

        hr{
            width: 100px;
            max-width: 30%;
            opacity: 1;
            border: 1px solid $secondary;
        }
    }

    .cpc_body{
        padding-left: 2rem;

        &.small{
            padding-left: 1rem;
            transform: scale(0.9);
        }
    }
}

.cpc_contactanos_icon_text{
    display: flex;
    font-size: $txt-small;

    i{
        color: $accent;
        font-size: $txt-subtitle;
        margin-right: 1.6rem;
    }

    .title{
        font-weight: bold;
    }

    .desc{
        opacity: 0.8;
    }
}

.cpc_contactanos_iframe{
    height: 300px !important;
}