
.cpc_box_desc{

    margin-bottom: 4rem;

    .cpc_head{
        font-size: $txt-subtitle;
        font-weight: bold;
        color: $secondary;

        .small{
            font-size: $txt-small;
        }

        hr{
            width: 100px;
            max-width: 30%;
            opacity: 1;
            border: 1px solid $secondary;
        }
    }

    .cpc_body{
        padding-left: 2rem;

        &.small{
            padding-left: 1rem;
            transform: scale(0.9);
        }
    }
}