$menu-h: 50px;
$coupon-h: 40px;

.coupons{
    background: black;
    width: 100%;
    overflow: hidden;

    min-height: $coupon-h;
    padding: .6rem 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    white-space: nowrap;
    color: white;

    .content{
        display: flex;
        gap: 15vw;
        //animation: scrollText 20s infinite linear;

        .cpc_coupons_item{
            display: flex !important;
            align-items: center;

            img{
                width: auto;
                max-height: 6rem;
                margin: 0 1rem;
            }
        }
    }
}

.cpc_menu{
    width: 100%;
    //height: $menu-h;
    background: $primary;
    z-index: 9995;

    .cpc_menu_header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: .6rem;

        padding-top: 2rem;
        color: white;

        button{
            display: flex;
            justify-content: flex-end !important;
            color: white
        }
    }

    .cpc_menu_content{
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr;
        gap: .6rem;
    }
    .cpc_menu_logo{

        width: 100%;
        height: 130%;
        padding: .6rem 0;

        position: relative;

        display: flex;
        justify-content: flex-start;
        align-items:center;

        .bg{
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            z-index: 9996;

            margin-bottom: -6rem;

            &::before{
                content: '';
                position: absolute;
                top: 0;
                right: 90%;
                width: 100vw;
                height: 116%;
                background: $primary-dark;
                z-index: -1;
            }
            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 116%;
                background: $primary-dark;
                margin-bottom: -3rem;
                z-index: 9996;

                clip-path: polygon(0 0, 100% 0%, 75% 140%, 0% 100%);
            }
        }
        img{
            display: block;
            z-index: 9997;
            width: 100%;
            height: 100%;
            object-fit: contain;

            padding-right: 20%;
            padding-left: 10%;
            margin-bottom: -5%;
        }

       
    }

    .cpc_menu_actions{
        width: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        ul{
            display: none;
        }

        .cpc_btn_pc{
            display: none;
        }

        .btn-shop{
            display: block;
            color: white;
            position: relative;

            i{
                color: white;
            }

            .btn-shop_content{
                display: none;
                opacity: 0;

                position: fixed;
                top: 0;
                left: 0%;

                width: 100%;
                height: 100%;
                background: $primary-dark;
                color: white;

                z-index: 9999;

                list-style: none;
                margin: 0;
                padding: 0;
                .cpc_menu_shop_content_item{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 30% auto;
                    grid-template-rows: 1fr;
                    gap: 0.6rem;

                    margin-bottom: 1rem;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    .body{
                        width: 100%;

                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: repeat(3, 1fr);
                        .title{
                            font-size: $txt-body;
                        }

                        .price{
                            font-weight: bold;
                            color: white;
                        }
                    }
                }

                .btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                }
            }
        }

        .btn-menu{
            color: white;
        }

        .btn-menu, .btn-shop{
            i{ font-size: calc($txt-body + 6px);}
        }
    }

    .cpc_menu_nav{
        z-index: 9999;
        display: none;
        opacity: 0;

        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: $primary-dark;

        color: white;
        .nav-link {
            color: white;
        }

        .dropdown-menu{
            position: relative !important;
            width: 100% !important;
            border-radius: 0;
            color: $primary;
            font-size: $txt-body;

            .dropdown-item {
                color: $primary-dark !important;
            }
        }
    }
}

.header_icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;

    gap: 24px;

    text-decoration: none;
    margin: 0;
    padding: 0;

    i{
        font-size: 30px;
    }

    .text{
        color: $primary;
        transition: all .3s;

        &:hover{
            color: $accent;
        }

        .title{
            font-size: 14px;
            font-weight: bold;
        }

        .sub{
            font-size: 14px;
            font-weight: normal;
        }
    }
}

.cpc_section_title{
    margin: 0;
    padding-top: 25vh;
    padding-bottom: 1rem;

    .cpc_content{
        text-align: center;
        color: white;

        margin: 6rem 0;
    }
}
@import 'media-query/header';