.cpc_menu{
    width: 100%;

    border-top: 3px solid $secondary;

    .cpc_menu_up{
        z-index: -1;
        background-color: $primary;
        color: white;
        font-size: calc($txt-small - 4px);

        height:2rem;

        a{
            color: white;
            text-decoration: none;
        }

        .cpc_up_content_1{

            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
    .cpc_menu_content{
        display: grid;
        grid-template-columns: 15vw auto;
        grid-template-rows: 1fr;
        gap: .6rem;
    }
    .cpc_menu_logo{
        z-index: +1;
        margin-top:-2rem;

        background-color: $secondary;
        padding: .6rem;

        width: 100%;

        img{
            width: 100%;
            object-fit: contain;

        }
    }   
}

.header_icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;

    gap: 24px;

    text-decoration: none;
    margin: 0;
    padding: 0;

    i{
        font-size: 30px;
    }

    .text{
        color: $primary;
        transition: all .3s;

        &:hover{
            color: $accent;
        }

        .title{
            font-size: 14px;
            font-weight: bold;
        }

        .sub{
            font-size: 14px;
            font-weight: normal;
        }
    }
}