:root {
  --primary: #0F3249;
  --secondary: #097AC0;
  --accent: #0E6FE8;
  --bg: linear-gradient(101.77deg, #097AC0 0%, #6509C0 100%);
  --card_img_h: 23rem;
  --card_img_h_one: 10rem;
  --title-size: 64px;
}

.btn-primary {
  background: var(--accent) !important;
}
.btn-primary:hover {
  background: var(--primary) !important;
}

:root {
  --text-body: 18px;
  --text-mega-title: 76px;
  --text-title: 58px;
  --text-subtitle: 36px;
  --text-h1: 48px;
  --text-h2: 30px;
  --text-h3: 26px;
  --text-h4: 18px;
  --text-small: 16px;
  --text-font-title: "Cormorant Garamond", serif;
  --text-font-body: "Open Sans", sans-serif;
}

@media only screen and (max-width: 992px) {
  :root {
    --text-mega-title: 4rem;
    --text-subtitle: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --text-mega-title: 3rem;
    --text-subtitle: 1.8rem;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --text-mega-title: 2rem;
  }
}
.cpc_cpt_shop_card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.cpc_cpt_shop_card_container.in_checkout .cpc_cpt_shop_card_item {
  -ms-grid-columns: 5rem auto;
  grid-template-columns: 5rem auto;
}
.cpc_cpt_shop_card_container.in_checkout .cpc_cpt_shop_card_item .text {
  padding: 0.9rem;
}
.cpc_cpt_shop_card_container.in_checkout .cpc_cpt_shop_card_item .text .title {
  font-size: var(--text-small);
}
.cpc_cpt_shop_card_container.in_checkout .cpc_cpt_shop_card_item .text .sub {
  font-size: var(--text-small);
}
.cpc_cpt_shop_card_container.in_checkout .cpc_cpt_shop_card_item .text .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cpc_cpt_shop_card_container.in_checkout .cpc_cpt_shop_card_item .text .controls .price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}

.cpc_cpt_shop_card_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem auto;
  grid-template-columns: 10rem auto;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
}
.cpc_cpt_shop_card_item:hover {
  border: 1px solid var(--accent);
}
.cpc_cpt_shop_card_item .img, .cpc_cpt_shop_card_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.cpc_cpt_shop_card_item .text {
  display: -ms-grid;
  display: grid;
  position: relative;
  padding: 1.6rem;
}
.cpc_cpt_shop_card_item .text .controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: end;
      align-content: end;
}
.cpc_cpt_shop_card_item .text .controls .price {
  text-align: right;
}
.cpc_cpt_shop_card_item .text .controls .price .price_unit {
  opacity: 0.8;
  font-size: var(--text-small);
}
.cpc_cpt_shop_card_item .text .controls .price .price_total {
  font-size: var(--text-body);
}
.cpc_cpt_shop_card_item .text .controls .quantity {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.cpc_cpt_shop_card_item .text .controls .quantity input {
  -moz-appearance: textfield !important;
}
.cpc_cpt_shop_card_item .text .controls .quantity input::-webkit-outer-spin-button,
.cpc_cpt_shop_card_item .text .controls .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cpc_cpt_shop_card_item .text .controls .quantity .quantity_control {
  width: 50%;
}
.cpc_cpt_shop_card_item .text .controls .remove {
  position: absolute;
  top: 0;
  right: 0;
}

.cpc_billing_summary .header {
  margin-bottom: 1rem;
}
.cpc_billing_summary .body .info {
  padding: 0.6rem;
}
.cpc_billing_summary .body .info.total {
  border-top: 1px solid var(--accent);
  margin-top: 1rem;
}
.cpc_billing_summary .body .info.total .desc, .cpc_billing_summary .body .info.total .price {
  font-size: var(--text-h3);
  opacity: 1;
}
.cpc_billing_summary .body .info.total .price {
  font-weight: bold;
}
.cpc_billing_summary .body .info .desc {
  font-size: var(--text-small);
  opacity: 0.8;
}
.cpc_billing_summary .body .info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: var(--text-body);
}