@media (max-width: 992px) {
    .cpc_welcome{
        text-align: center;

        .cpc_hr, .desc{
            margin-right: auto;
            margin-left: auto;
        }
    }

    .navbar{
    
        #cpc_menu_shop_content{
            left: 0;
            right: auto;
            transform: translateX(0);
        }

        .dropdown-menu{
            transform: translateX(0%) !important;
            top: 100%;
            left: 0;
        }
    }
}

@media (max-width: 576px) {

    .cpc_ponente_container{
        .cpc_ponente_item{
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr;
            justify-content: center;
            justify-items: center;
            text-align: center;
        }
    }
    
    .navbar{
    
        #cpc_menu_shop_content{
            left: 30vw;
            right: auto;
            transform: translateX(0);
        }
    }
    
}

