@media screen and (min-width: 500px){
    .cpc_slider_front_page_hero{
        .swiper-slide{
            .slider_person{
                width: 70%;
            }

            .slider_content{
                width: 60%;

               .slide_txt{
                height: 50%;
               }
            }

        }
    }
}

@media screen and (min-width: 800px){
    .cpc_slider_front_page_hero{
        .swiper-slide{
            .slider_person{
                width: 70%;
            }
    
            .slider_content{
                width: 60%;
    
                picture, source, img{
                    height: 60vh;
                }
            }
    
        }
    }
}


@media screen and (min-width: 1000px){
    .cpc_slider_front_page_hero{
        .swiper-slide{
            height: 100vh !important;

            .bg{
                left: auto;
                right: 0;

                width: 80%;
                height: 100%;
            }

            .slider_person{
                width: 50%;
                margin-bottom: 0;
            }
    
            .slider_content{
                width: 50%;
                bottom: auto;
                top:50%;
                transform: translateY(-50%);

                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 2rem;
    
                picture, source, img{
                    height: auto;
                }

                .certificates{
                    width: 60%;
                }
            }
    
        }
    }
}

@media screen and (max-height: 800px){
    .cpc_hero{
        .text{
            top: 70%;
            .content{
                .cpc_btn{
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media screen and (max-height: 600px){
    .cpc_hero{
        .text{
            top: 90%;
        }
    }
}


@media screen and (max-width: 992px){
    .cpc_hero{
        .text{
            .content{
                .side_down{
                    position: relative;
                    bottom: auto;
                    left: auto;
                }
            }
        }
    }
}

@media (max-width:700px)  {
        
    .cri-slider {
        .wrapper {
            .slide {     
                .contain.style-left{
                    div.padding{
                        text-align: center;
        
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
        
                        h1{
                            text-align: center;
                            width: 90%;

                            font-size: 14vw;
                        }

                        p{
                            font-size: 7vw !important;
                        }
                    }
                }

                .contain.slider_presentation{
                    div.padding{
                        ul{
                            font-size: 3vw;
                        }
                    }

                }

                h1{
                    font-size: 12vw !important;
                }
                h2{
                    font-size: 6vw !important;
                }

                p{
                    width: 90% !important;
                    font-size: 4vw !important;
                    margin-top: 1rem;
                }
            }

            .slide.promocion{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 70% 30%;
                align-items: center;
                justify-content: center;
                justify-items: center;
        
                div.background{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
        
                    img{
                        width: 100%;
                        height: 100%;
                    }
        
                    div.filter{
                        width: 100%;
                        height: 100%;
                    }
                }
        
                div.contain{
                    width: 90%;
                    div.padding{
                        width: 100%;
                        h1{
                            font-size: 9vw;
                        }
                        
                        p{
                            width: 90%;
                            font-size: 3vw;
                        }
        
                        p.number{
                            font-size: 9vw !important;
                        }
                    }
                }
            }
        }
    }
}