
@media screen and (min-width: 800px) {
    .cpc_menu{
        .cpc_menu_content{
            grid-template-columns: 40% auto;
        }
    }
}

@media screen and (min-width: 1000px) {
    .cpc_menu{

        .cpc_menu_header{
            color: $primary-dark;
    
            button{
                color: $primary-dark
            }
        }
    
        .cpc_menu_content{
            grid-template-columns: 20% auto auto;
            gap: 1rem;
        }

        .cpc_menu_actions{
            z-index: 9993;
            position: relative;

            display: flex;
            gap: 1rem;

            padding-left: 10%;
    
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 90%;
                width: 100vw;
                height: 120%;
                background: $primary-dark;
                z-index: -1;
            }
            &::after{
                position: absolute;
                top: 0;
                left: 0%;

                content: "";
                display: block;
                width: 100%;
                height: 120%;
                background: $primary-dark;
                z-index: 9990;

                clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
            }
    
            .btn-menu{ display: none; }

            .cpc_btn_pc{
                display: block;
                z-index: 9993;

                color: white;
                position: relative;

                i{
                    color: white;
                    font-size: calc($txt-body + 6px);
                }
            }

            form{
                transform-origin: right;

                display:flex;
                flex-wrap: nowrap;

                width: 45%;
                transition: all .6s;

                &:hover{
                    width: 100%;
                }
                input{
                    border-radius: 8px 0 0 8px;
                }

                .btn{
                    background-color:white;
                    color: $primary;
                    border: none;

                    border-radius: 0 8px 8px 0;
                    i{
                        color: $primary-dark;
                        font-size: $txt-body;
                    }
                }
            }

            .btn-shop{
                .btn-shop_content{
    
                    position: absolute;
                    top: 130%;
                    left: auto;
                    right: -100%;
    
                    width: 30vw;
                    height: auto;

                    background: white;
                    color: $primary-dark;
                    border-radius: 8px;

                    .cpc_menu_shop_content_item{
                        .body{
                            width: 100%;
    
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: repeat(3, 1fr);
                            .title{
                                font-size: $txt-body;
                            }
    
                            .price{
                                font-weight: bold;
                                color: $primary-dark;
                                font-size: calc($txt-body + 6px);
                            }
                        }
                    }
    
                    .btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        width: 100%;
                    }
                }
            }
    
            .btn-account{
                white-space: nowrap;
            }
            .btn-menu{
                color: white;
            }
    
            .btn-menu, .btn-shop{
                i{ font-size: calc($txt-body + 6px);}
            }
        }
    
        .cpc_menu_nav{
            display: flex !important;
            justify-content: center;
            align-items: center;

            opacity: 1 !important;
    
            position: relative;

            background: none;

            a, li{
                font-size: calc($txt-body - 2px);
            }

            .container{
                width: 100% !important;
            }

            .cpc_menu_header{display: none;}

            .navbar-nav{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
    
            .dropdown-menu{
                position: absolute !important;
                width: fit-content !important;
                border-radius: 8px;
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .cpc_navbar_hide_on_sticky{
        display: none !important;
    }

    .cpc_navbar_show_on_sticky{
        display: block !important;
    }
}



@media screen and (min-width : 1000px) and (min-width : 1100px) {

}

@media only screen and (max-width: 992px) {
    .navbar-collapse {
        width: 500px;
        max-width: 90vw;
        height: 100vh;

        background: $primary;

        display: block !important;

        padding:0;
        margin: 0;
        transition: all 1s;

        position: relative;
        top:0;
        left: -100%;

        &.cpc_menu_phone_c_active{
            left: 0%;
        }
    }

    .cpc_menu_phone_c{
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;
        z-index: 999;
        

        padding: 0;

        display: none;

        .cpc_menu_phone_content{
            width: 90%;
            height: 100%;
            margin: 0 auto;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 80vh auto;
            gap: 1rem;
            align-items: center;
            justify-content: space-between;

            .cpc_menu_phone_menu{
                width: 100%;
                height: 100%;

                .nav-link{
                    padding: 1rem 0;
                }
            }
        }

        .cpc_menu_phone_div{
            display: block;
        }

        .cpc_menu_phone_btn{
            display:flex;
            justify-content: flex-end;
            align-items: center;
        }
        .cpc_menu_phone_logo{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;

            img{
                width: 100%;
                object-fit: contain;
            }
        }
        .cpcp_menu_phone_bg{
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100vh;
            z-index: -1;
            background: rgba(0, 0, 0, 0.4);
            cursor: pointer;
            opacity: 0;
            transition: all .5s;
        }
        
    }
}

@media screen and (min-width : 768px) and (max-width : 1000px) {

}

@media only screen and (max-width: 767px) {
    
}

@media only screen and (max-width: 480px) {
    
}


@media screen and (min-width : 320px) and (max-width : 767px) { 
    
}

@media screen and (min-width : 320px) and (max-width : 500px) { 

}

@media screen and (min-width : 300px) and (max-width : 470px) { 
}