@media (max-width: 1199px){
    .cpc_hide_last_item{
        display: grid !important;
    }

    .cpc_cursos_list{
        text-align: center;
    }
}

@media (max-width: 1100px){
    footer{
        .container{
            grid-template-columns: 10rem 1fr 1fr;
        }

        .cpc_footer_i{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width: 992px){
    footer{
        padding: 8rem 0;
    
        .container{
            grid-template-columns:  1fr 1fr;
        }

        .cpc_footer_i{
            &.img{
                grid-column-start: 1;
                grid-column-end: 3;

                height: 100px;

                img{
                    object-position: center;
                }
            }
        }
    }
}

@media (max-width: 576px){
    .chaty-tooltip::after{
            display: none !important;
    }
    .cpc_mewsletter{
        padding: 4rem 1rem;
    }

    .header_icons{
        i{
            font-size: 23px !important;
        }
    }
    
    footer{
        padding: 8rem 0;
    
        .container{
            grid-template-columns:  1fr;
        }

        .cpc_footer_i{
            align-items: center;
            &.img{
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }
}

@media (min-width: 1000px){
    .cpc_social_media{
        position: fixed;
        bottom: 0;
        left: 0;
        color: white;
        z-index: 9992;
    
        &::before{
            content: "";
            position: absolute;
            width: 120%;
            height: 100%;
    
            background: black;
            z-index: -1;
    
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        }
    
        .header_icons{
            padding: 1rem 2rem;
    
            a{
                color: white;
                font-size: $txt-body;
            }
        }
    }
    
}